@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$bg-white: rgb(255, 255, 255);
$bg-gray-light: rgb(240, 240, 240);

$green-accent: rgb(40, 217, 121);

$text-black-primary: rgb(0, 0, 0);
$text-gray-secondary: rgb(63, 61, 61);
$text-white-on-dark: rgb(255, 255, 255);
$text-gray-contact: rgb(208, 208, 208);
$text-white-secondary: rgb(235, 249, 242);
$text-tags: rgb(20, 144, 99);

$text-green-light-accent: rgb(221, 241, 99);
$bg-green-dark-spot: rgb(74, 176, 80);
$icon-yellow-heart: rgb(246, 237, 30);

$edit-overlay-bg: rgba(0, 0, 0, 0.5);
$edit-element-bg: rgba(255, 255, 255, 0.9);
$edit-element-padding: 2px;

.pdf-btn {
  position: fixed;
  bottom: 60px;
  right: 20px;
  padding: 10px 15px;
  background-color: $bg-green-dark-spot;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
}
.liked-mini-card {
  .header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
}
.like {
  height: inherit;
}
%card:hover {
  transform: scale(1.025);
}
.profile-img:hover {
  transform: scale(1.025);
}
%card,
.profile-img {
  transition: transform 0.3s ease;
}
.pdf-btn:hover {
  transform: scale(1.025);
}
%card,
.pdf-btn {
  transition: transform 0.1s ease;
}
