@use "variables" as *;
// Функция для масштабирования значений
@function scale($value) {
  @if type-of($value) == number and unit($value) != "" {
    @return $value * 1.4;
  }
  @return $value;
}
// .pdf-export {
//   .main {
//   }
// }
body {
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 0;
  flex-direction: column;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  margin: scale(15px) auto;
  gap: scale(20px);
  padding: 0;
  max-width: calc(100% - #{scale(40px)});
  min-height: max-content;
}
%partial {
  display: grid;
  gap: scale(20px);
}
.upper-partial {
  @extend %partial;
  height: scale(124px);
  grid-template-columns: scale(124px) scale(124px) scale(267px);
}
%card {
  display: flex;
  flex-direction: column;
  background-color: $bg-gray-light;

  padding: scale(12px);
  border-radius: scale(12px);

  .card-title {
    font-weight: 500;
    font-size: scale(14px);
  }
}
.profile-img {
  width: 100%;
  border-radius: scale(12px);
}
.hello-card {
  @extend %card;

  justify-content: space-between;

  .person-info {
    display: flex;
    flex-direction: column;
  }
  .hello {
    font-size: scale(10px);
    font-weight: 500;
  }
  .name {
    font-size: scale(14px);
    font-weight: 600;
  }
  .role {
    font-size: scale(12px);
    font-weight: 500;
    color: $text-gray-secondary;
  }
}

.languages-card {
  @extend %card;

  justify-content: space-between;

  padding-bottom: scale(22px);

  .l1 {
    @extend .card-title;
  }
  .l2 {
    @extend .l1;
    font-size: scale(10px);
    line-height: 1;
  }
  .languages-list {
    height: scale(50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .languages-down-part {
    display: flex;
    gap: scale(17px);
    height: scale(53px);
  }
  .languages-level-marks {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .language-level-mark {
    background-color: $green-accent;
    height: scale(11px);
    width: scale(168px);

    border-radius: scale(3px);
  }
  .short-language-level-mark {
    @extend .language-level-mark;
    width: scale(129px);
  }
}
.middle-partial {
  @extend %partial;

  grid-template-columns: scale(411px) scale(124px);
}
.experience-card {
  @extend %card;
  gap: scale(16px);
  padding-bottom: scale(10px);
  height: scale(359px);
  box-sizing: border-box;
  .card-content {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-between;
    // gap: scale(10px);
    height: scale(337px);

    %mini-card {
      display: inherit;
      flex-direction: inherit;
      padding: scale(8px);
      gap: scale(8px);
      border-radius: scale(10px);

      background-color: white;

      .mini-card-header {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: scale(8px);
        justify-content: space-between;
      }
      //////////////////////
      .mini-card-main {
        display: flex;
        justify-content: space-between;

        .role {
          display: flex;
          flex-direction: column;

          .role-name {
            font-size: scale(10px);
            font-weight: 500;
          }
          .role-details {
            font-size: scale(8px);
            font-weight: 400;
          }
        }

        ////////////////////
        .responsibilities {
          ul {
            list-style-type: disc;
            padding-inline-start: 0;
            margin: 0;
            width: scale(227px);
          }
          li {
            margin-bottom: 0px;
            font-size: scale(8px);
          }
        }
      }
      .most-recent {
        height: scale(16px);
        width: scale(61px);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $bg-green-dark-spot;
        border-radius: scale(59px);
        color: $text-green-light-accent;
      }
    }
    .most-recent-mini-card {
      @extend %mini-card;
      background-color: $green-accent;
      color: white;

      .mini-card-header {
        justify-content: space-between;
      }
    }
    .standart-mini-card {
      @extend %mini-card;
      .role-details {
        color: $text-gray-secondary;
      }
    }
  }
}
.tools-card {
  @extend %card;
  gap: scale(15px);
  height: scale(359px);
  box-sizing: border-box;
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: scale(12px);

    .tools-group-container {
      position: relative;
      width: scale(76px);
      margin: 0 auto;

      .group-name {
        position: absolute;
        top: scale(-5.5px);
        left: 50%;
        transform: translateX(-50%);

        width: auto;
        padding: scale(2px) scale(6px);
        border-radius: scale(59px);
        font-size: scale(5px);
        background-color: black;
        color: white;
        white-space: nowrap;
      }
      .group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: scale(6px);
        background-color: white;
        padding: scale(15.5px) scale(11px);
        justify-items: center;
        gap: scale(16px);

        .icon {
          height: scale(18px);
          width: scale(18px);
        }
      }
    }
  }
}
.lower-partial {
  @extend %partial;
  height: scale(289px);
  grid-template-columns: scale(268px) scale(267px);
}

.education-card {
  @extend %card;
  gap: scale(16px);
  .header {
    font-size: scale(10px);
    font-weight: 500;
  }
  .card-content {
    display: flex;
    gap: scale(12px);

    %mini-card {
      display: flex;
      flex-direction: column;
      gap: scale(8px);

      padding: scale(8px);
      border-radius: scale(10px);

      background-color: white;
      .main {
        display: flex;
        flex-direction: column;
      }
      .name {
        font-size: scale(10px);
        font-weight: 500;
      }
      .tags {
        font-size: scale(8px);
        font-weight: 400;
        color: $text-tags;
      }
      .footer {
        font-size: scale(8px);
        font-weight: 400;
      }
    }
    .liked-mini-card {
      @extend %mini-card;
      color: white;

      background-color: $green-accent;
      .like {
        height: scale(9px);
      }
      .tags {
        color: $text-white-secondary;
      }
    }
    .standart-mini-card {
      @extend %mini-card;
    }

    .flex-container {
      display: flex;
      flex-direction: column;
      gap: scale(12px);

      flex: 1;
    }
  }
}
.right-down-block {
  display: grid;
  gap: scale(20px);
}
.interests-card {
  @extend %card;
  height: scale(177px);
  justify-content: space-between;
  box-sizing: border-box;
  .card-content {
    display: flex;
    flex-wrap: wrap;
    gap: scale(8px);

    .interest {
      font-size: scale(10px);
      background-color: white;

      border-radius: scale(40px);
      padding: scale(4px) scale(10px);
    }
  }
}
.letschat-card {
  @extend %card;
  height: scale(68px);

  align-content: space-between;
  color: white;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-between;
  .contact {
    font-weight: 300;
    font-size: scale(10px);
    color: $text-gray-contact;
  }
  a {
    text-decoration: none;
  }
}
